<section class="about_section pt-8">
  <div class="w-11">
    <div class="grid">
      <div class="col-6  md:col-6">
        <div class="img-box p-5  xl:text-right sm:text-center md:text-right md:mt-3 md:p-0">
          <img src="../../../../assets/img/about-img.png"/>
        </div>
      </div>
      <div class="col-6 md:col-6 pl-8 xl:mt-8 sm:mt-0">
        <div class="line-height-4 xl:text-left  xl:mt-8  lg:mt-8 sm:mt-0">
          <div class="xl:mt-8 sm:mt-0 sm:mt-0 lg:mt-8  ">
            <h2 class="xl:mt-8 sm:mt-0 ">We Are Feane</h2>
            <p class="text-white pr-5 md:pr-0  mt-2 lg:pr-2">
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form, by injected humour, or randomised words which don't look even slightly believable. If you
              are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
              the middle of text All.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
