<section class="loginSection pb-8">
  <div class="grid">
    <div class=" xl:col-6 md:col-12 lg:col-7 sm:col-12 ">
      <div class="flex pt-6

  lg:justify-content-start
  sm:justify-content-center
   md:justify-content-center
    justify-content-center
        ">
        <div [formGroup]="loginForm" class=" loginForm surface-card p-4 shadow-2 border-round
    md:w-8 lg:w-8 sm:w-10 ">
          <div class="text-center mb-5">
            <img alt="Image" class="scalein animation-duration-500 mb-3 border-circle" height="80"
                 src="../../../assets/img/profile-img.jpg">
            <div class="text-white text-3xl font-medium mb-3">Welcome Back</div>
            <span class="text-white font-medium line-height-3">Don't have an account?</span>
            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/signup"
            >Create today!</a>

          </div>
          <div>
            <label class="block text-white font-medium mb-2" for="email1">Email</label>
            <input [class.border-green-600]="!loginForm.controls['Email'].errors"
                   [class.ng-dirty]="loginForm.controls['Email'].errors"
                   class="w-full border-2 ng-invalid"
                   formControlName="Email"
                   id="email1" pInputText
                   placeholder="Example@gmail.com"
                   type="email">
            <div *ngIf="loginForm.controls['Email'].errors" class="text-red-500 my-2 font-medium text-xl">
              <small *ngIf="loginForm.controls['Email'].hasError('required')" class="p-3">requierd email</small>
              <small
                *ngIf="loginForm.controls['Email'].hasError('email')&& !loginForm.controls['Email']. hasError('minlength')"
                class="p-3">Invalid Email</small>
            </div>

            <label class="block text-white font-medium mb-2 mt-2" for="password1">Password</label>
            <input [class.border-green-600]="!loginForm.controls['Password'].errors"
                   [class.ng-dirty]="loginForm.controls['Password'].errors"
                   class="w-full mb-1  border-2" formControlName="Password"
                   id="password1"
                   pInputText placeholder="Password" type="password">


            <div *ngIf="loginForm.controls['Password'].errors" class="text-red-500 my-2 font-medium text-xl">
              <small *ngIf="loginForm.controls['Password'].hasError('required')" class="p-3">requierd password</small>
              <small *ngIf="loginForm.controls['Password'].hasError('minlength')" class="p-3">min length is 5
                Character</small>
            </div>

            <div class="flex align-items-center justify-content-between mb-3 mt-2">
              <div class="flex align-items-center">
                <p-checkbox [binary]="true" id="rememberme1" styleClass="mr-2"></p-checkbox>
                <label class="text-white" for="rememberme1">Remember me</label>
              </div>
              <a routerLink="reset" class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot
                password?</a>
            </div>


            <button (click)="handelLogin()" [disabled]="loginForm.invalid"
                    class="w-full p-button-secondary"
                    icon="pi{{IsHttpCaalling ? ' pi-spinner pi-spin': ' pi-user'}}" label="Sign In" pButton
                    pRipple></button>
            <div class="grid p-2 social mt-3">
              <a (click)="signInWithFB()" class="facebook btn  w-full">
                <i class="fa-brands fa-facebook-f px-1 mx-1"></i>
                Login with Facebook
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
