.signUpSection {
  //background-image: url(../../../assets/img/nnnn.webp);
  background-color: rgba(255, 255, 255, 0.8);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 30px;
}

.signForm {
  background-color: rgba(255, 255, 255, 0.22) !important;
  border: black 3px solid !important;
  border-radius: 15px !important;
  color: black !important;



}
