<section class="loginSection sm:p-8 p-4 py-6">
  <form [formGroup]="resetPasswordForm" >
    <div class="flex pt-6 justify-content-center">
      <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">


        <div *ngIf="enableResetForm" >
          <div class="text-center mb-3">
            <span class=" block font-medium line-height-3"> Reset Password</span>
          </div>

          <label class="block text-900 font-medium mb-2" for="email1">Mail</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon border-2">@</span>
            <input [class.border-green-600]="!resetPasswordForm.controls['Email'].errors"
                   [class.ng-dirty]="resetPasswordForm.controls['Email'].errors" class="ng-invalid border-2"
                   formControlName="Email" id="email1" pInputText placeholder="example@gmail.com"
                   type="text">
          </div>
          <div *ngIf="resetPasswordForm.controls['Email'].errors" class="text-red-500 my-2 font-medium text-xl">
            <small *ngIf="resetPasswordForm.controls['Email'].hasError('required')" class="p-3"> Enter Your Mail</small>
            <small
              *ngIf="resetPasswordForm.controls['Email'].hasError('email')&& !resetPasswordForm.controls['Email']. hasError('minlength')"
              class="p-3">Invalid Email</small>
          </div>
          <button (click)="done()" class="w-full mt-3" icon="fas fa-solid fa-check" label="Done" pButton pRipple></button>
        </div>




        <div *ngIf="!enableResetForm">
          <label class="block text-900 font-medium mb-2" for="code1">Code</label>
          <div class="p-inputgroup  mb-2 mt-1">
            <span class="p-inputgroup-addon border-2"><i class="pi pi-code"></i></span>
            <input [class.border-green-600]="!resetPasswordForm.controls['Code'].errors"
                   [class.ng-dirty]="resetPasswordForm.controls['Code'].errors" class="ng-invalid border-2"
                   formControlName="Code" id="code1" pInputText placeholder="Enter Code That We Have Sent To Your Mail"
                   type="text">
          </div>
          <div *ngIf="resetPasswordForm.controls['Code'].errors" class="text-red-500 mb-4 font-medium text-xl">
            <small *ngIf="resetPasswordForm.controls['Code'].hasError('required')" class="p-3">Enter code</small>
          </div>

          <label class="block text-900 font-medium mt-3 mb-2" for="password1">Enter New Password</label>
          <div class="p-inputgroup  mb-2 mt-1">
          <span class="p-inputgroup-addon border-2"><i class="fas fa-solid fa-lock"></i></span>
          <input [class.border-green-600]="!resetPasswordForm.controls['Password'].errors"
                 [class.ng-dirty]="resetPasswordForm.controls['Password'].errors" class="w-full "
                 formControlName="Password" id="password1" pInputText placeholder="Password"
                 type="password">
          </div>
          <div *ngIf="resetPasswordForm.controls['Password'].errors" class="text-red-500 mb-3 font-medium text-xl">
            <small *ngIf="resetPasswordForm.controls['Password'].hasError('required')" class="px-3">requierd
              password</small>
            <small *ngIf="resetPasswordForm.controls['Password'].hasError('minlength')" class="p-3">min length is 5
              Character To create Password</small>
          </div>
          <button (click)="resetPassword()" class="w-full" icon="fas fa-solid fa-check" label="Done" pButton
                  pRipple></button>
        </div>
      </div>
    </div>

  </form>
</section>

