<section class="bg_section overflow-x-hidden ">
  <form (ngSubmit)="done()" [formGroup]="checkoutParentGroup"
        class="formgrid col-9 m-auto mb-6  pb-0 py-5  ">
    <!--start Dev one-->
    <div class=" grid md:px-8 m-auto">
      <div class="col-12  m-auto text-center"><h2>Your Data</h2>
      </div>
      <div class="col-12 m-auto">
        <div class="p-inputgroup">
          <span [class.border-green-800]="!checkoutParentGroup.controls['FullName'].errors"
                [class.border-red-700]="checkoutParentGroup.controls['FullName'].errors"
                class="p-inputgroup-addon border-2"><i class="pi pi-user"></i></span>
          <input
            [class.border-green-800]="!checkoutParentGroup.controls['FullName'].errors"
            [class.ng-dirty]="checkoutParentGroup.controls['FullName'].errors"
            class="ng-invalid border-2" formControlName="FullName" pInputText placeholder="Username" type="text">
        </div>
      </div>
      <div *ngIf="checkoutParentGroup.controls['FullName'].errors" class="text-red-500 my-2 font-medium text-xl">
        <small
          *ngIf="checkoutParentGroup.controls['FullName'].hasError('required') || checkoutParentGroup.controls['FullName'].hasError('noSpace')"
          class="p-3"> * Name Is Reqiured *</small>
        <small *ngIf="checkoutParentGroup.controls['FullName'].hasError('minlength')
&& !checkoutParentGroup.controls['FullName'].hasError('noSpace')" class="p-3">* Min Length is 6 digit *</small>
        <small
          *ngIf="checkoutParentGroup.controls['FullName'].hasError('maxlength')&& !checkoutParentGroup.controls['FullName'].hasError('noSpace')"
          class="p-3">* Max Length is 18 digit *</small>
      </div>

      <div class="col-12 m-auto">
        <div class="p-inputgroup">
          <input [class.border-green-600]="!checkoutParentGroup.controls['Email'].errors"
                 [class.ng-dirty]="checkoutParentGroup.controls['Email'].errors"
                 class="ng-invalid border-2" formControlName="Email" pInputText
                 placeholder="User Name" type="text">
          <span [class.border-green-800]="!checkoutParentGroup.controls['Email'].errors"
                [class.border-red-700]="checkoutParentGroup.controls['Email'].errors"
                class="p-inputgroup-addon border-2 ">@</span>
        </div>
      </div>
      <div *ngIf="checkoutParentGroup.controls['Email'].errors" class="text-red-500 my-2 font-medium text-xl">
        <small
          *ngIf="checkoutParentGroup.controls['Email'].hasError('required') || checkoutParentGroup.controls['Email'].hasError('noSpace')"
          class="p-3"> * Requierd Email
          *</small>

        <small
          *ngIf="checkoutParentGroup.controls['Email'].hasError('maxlength')&& !checkoutParentGroup.controls['Email'].hasError('noSpace')"
          class="p-3"> * Max Length is 18
          Digit *</small>
        <small
          *ngIf="checkoutParentGroup.controls['Email'].hasError('email') && !checkoutParentGroup.controls['Email']. hasError('noSpace')&&checkoutParentGroup.controls['Email'].hasError('pattern') "
          class="p-3"> * Invalid Email *</small>
      </div>

      <div class="col-12 m-auto">
        <div class="p-inputgroup">
          <span [class.border-green-800]="!checkoutParentGroup.controls['Phone'].errors"
                [class.border-red-700]="checkoutParentGroup.controls['Phone'].errors"
                class="p-inputgroup-addon border-2"><i class="pi pi-phone"></i></span>
          <input [class.border-green-800]="!checkoutParentGroup.controls['Phone'].errors"
                 [class.ng-dirty]="checkoutParentGroup.controls['Phone'].errors"
                 class="ng-invalid border-2"

                 formControlName="Phone" pInputText placeholder="Phone" type="text">
        </div>
      </div>
      <div *ngIf="checkoutParentGroup.controls['Phone'].errors" class="text-red-500 my-2 font-medium text-xl">
        <small
          *ngIf="checkoutParentGroup.controls['Phone'].hasError('required') || checkoutParentGroup.controls['Phone'].hasError('noSpace')"
          class="p-3">* Requierd Phone
          Number * </small>

        <small
          *ngIf="checkoutParentGroup.controls['Phone'].hasError('maxlength')&& !checkoutParentGroup.controls['Phone'].hasError('noSpace')"
          class="p-3"> * Max Length is 11
          Character *</small>
        <small
          *ngIf="checkoutParentGroup.controls['Phone'].hasError('minlength')&& !checkoutParentGroup.controls['Phone'].hasError('noSpace')"
          class="p-3">* Min Length is 11
          Character *</small>
        <small
          *ngIf="checkoutParentGroup.controls['Phone'].hasError('pattern') && !checkoutParentGroup.controls['Phone'].hasError('noSpace')"
          class="p-3">* Invalid Phone Number *</small>
      </div>

    </div>
    <!--          End Dev one-->
    <!--    start Dev two From Person-->
    <div class=" grid  m-auto text-center" formGroupName="From">
      <div class="col-12 m-auto "><h2>From :</h2></div>
      <div class="col-8 m-auto grid ">
        <div class="  lg:col-6 col-12 m-auto ">
          <p-dropdown (onChange)="filterStates($event)" [(ngModel)]="selectedFromCountry" [filter]="true"
                      [options]="countries"
                      [showClear]="true" [virtualScrollItemSize]="30" [virtualScroll]="true"
                      class="w-full" filterBy="name" formControlName="Country" ngModelOptions="{standalone: true}"
                      optionLabel="name" placeholder="Select a Country">
            <ng-template class="col-12" pTemplate="selectedItem">
              <div *ngIf="selectedFromCountry" class="country-item country-item-value">
                <div>{{selectedFromCountry.name}}</div>
              </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
              <div class="country-item">
                <div>{{country.name}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="  lg:col-6 col-12  m-auto">
          <p-dropdown [(ngModel)]="selectedFromState"
                      [filter]="true" [options]="FromStates" [showClear]="true"
                      [virtualScrollItemSize]="30" [virtualScroll]="true" filterBy="name" formControlName="State"
                      optionLabel="name" placeholder="Select a State">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="selectedFromState" class="country-item country-item-value">
                <div>{{selectedFromState.name}}</div>
              </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
              <div class="country-item">
                <div>{{country.name}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="xl:col-7 lg:col-5 sm:col-8 col-12 m-auto">
        <div class="p-inputgroup ">
          <span class="p-inputgroup-addon">Zip Code</span>
          <input formControlName="ZipCode" pInputText placeholder="" type="text">
        </div>
      </div>
    </div>
    <!--End Dev two From Person-->
    <!--start Dev similar-->
    <div class="grid text-center flex justify-content-center align-items-center m-auto">
      <input (change)="similarGroup($event)" class="p-checkbox" type="checkbox">
      <label class="m-2">Similar</label>
    </div>
    <!--End Dev similar-->
    <!--start Dev three To Person-->
    <div class="grid  m-auto text-center" formGroupName="To">
      <div class="col-12 m-auto "><h2>To:</h2></div>
      <div class="col-8 m-auto grid ">
        <div class=" lg:col-6 col-12 m-auto ">
          <p-dropdown (onChange)="filterStates($event)" [(ngModel)]="selectedToCountry" [filter]="true"
                      [options]="countries" [showClear]="true"
                      [virtualScrollItemSize]="30" [virtualScroll]="true" filterBy="name" formControlName="Country"
                      optionLabel="name" placeholder="Select a Country">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="selectedToCountry" class="country-item country-item-value">
                <div>{{selectedToCountry.name}}</div>
              </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
              <div class="country-item">
                <div>{{country.name}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class=" lg:col-6 col-12 m-auto ">
          <p-dropdown [(ngModel)]="selectedToState" [filter]="true" [options]="ToStates" [showClear]="true"
                      [virtualScrollItemSize]="30" [virtualScroll]="true" filterBy="name" formControlName="State"
                      optionLabel="name" placeholder="Select a State">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="selectedToState" class="country-item country-item-value">
                <div>{{selectedToState.name}}</div>
              </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
              <div class="country-item">
                <div>{{country.name}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class=" xl:col-7 lg:col-5 sm:col-8 col-12 m-auto">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">Zip Code</span>
          <input formControlName="ZipCode" pInputText placeholder="" type="text">
        </div>
      </div>
    </div>
    <!--End Dev three-->
    <!--start Dev four-->
    <div class=" grid md:px-8  m-auto text-center" formGroupName="CreditCard">
      <div class="col-12 m-auto text-center"><h2>Card Type :</h2></div>

      <div class="col-12 ">
        <p-dropdown [(ngModel)]="selectedCreditCard" [options]="CreditCard" [showClear]="true"
                    formControlName="CardType" optionLabel="name"
                    placeholder="Select a City"></p-dropdown>
      </div>

      <div class=" xl:col-6 lg:col-6 sm:col-8 col-12 m-auto ">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">Card Number</span>
          <input formControlName="CardNumber" pInputText placeholder="" type="text">

        </div>
      </div>

      <div class="  xl:col-6 lg:col-6 sm:col-8 col-12 m-auto  ">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-code"></i></span>
          <input formControlName="Code" pInputText placeholder="Code" type="text">
        </div>
      </div>
    </div>
    <!--End Dev four-->
    <!--    start Dev five-->
    <div class="m-auto sm:col-5  col-7 ">
      <div class="size m-2 ">Total Order : {{totalOrderSize}}</div>
      <div class="totalprice  m-2 ">Total Price : {{totalOrderPrice|currency:'USD'}}</div>
      <div class="text-center">
        <button class="p-button-info m-auto " icon=" pi pi-check" label="Done" pButton type="submit"></button>
      </div>
    </div>
    <!--End Dev five-->


  </form>
</section>
